# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------


# ------------------------------------------------------------------------------
#这是一个非常酷的功能，其灵感来自于 Medium 的平滑图像加载，我们首先加载一个低质量，模糊版本的图像，并在加载后用完整质量版本的图像进行动画处理。
# 这个效果很好，不过它确实增加了一些设置工作。

# 如果 `isPreviewImageSupportEnabled` 设置为 `true`，
# 则应用程序将通过 [lqip-modern](https://github.com/transitive-bullshit/lqip-modern) 为您的 Notion 工作区引用的所有图像计算 LQIP 图像。
# 这些图像将（作为 base64 JPEG 数据）存储在 Google Firebase 的 Collection 中，因此它们只需要计算一次。
# 您必须设置自己的 Google Firebase 的 Firestore 实例，并提供三个环境变量：
# GOOGLE_APPLICATION_CREDENTIALS、GCLOUD_PROJECT、FIREBASE_COLLECTION_IMAGES
# ------------------------------------------------------------------------------

# 谷歌凭证 json 文件的 base64 编码字符串
#GOOGLE_APPLICATION_CREDENTIALS=

# 你的谷歌云项目的名称
#GCLOUD_PROJECT=

# 用于存储图像的 Firebase collection 的名称
#FIREBASE_COLLECTION_IMAGES=

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for rendering tweets efficiently)
TWITTER_ACCESS_TOKEN=
